.contacts_card {
      width: 233px;
      height: 233px;
      border-radius: 5px;
      background: var(--accent, #BFD2F8);
      padding: 50px 20px;
      font-family:' Work Sans', sans-serif;
      transition: .5s;
      .contacts_img{
        margin-bottom: 15px;
        svg{
          path{
            transition: .5s;
          }
        }
      }
      p,span{
        transition: .5s;
      }
      p {
        color: #007E85;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 8px;
      }

      span {
        color: #007E85;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        display: block;
        margin-bottom: 5px;
      }

      &:hover{
        background: #007E85;
        p,span{
          color: var(--accent, #BFD2F8);
        }
        .contacts_img{
          svg{
            path{
              stroke: #BFD2F8;
            }
          }
        }
      }
    }