.navbar {
  background-color: #007E85;

  width: 100%;

  @media (max-width: 500px) {
    position: absolute;
    top: 0;
    z-index: 5;
  }

  .container {
    max-width: 992px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;

    @media (max-width: 1024px) {
      width: 90%;
    }

    @media (max-width: 500px) {
      padding: 19px 0;
      height: unset;
    }

    ul {
      display: flex;
      gap: 20px;

      @media (max-width: 500px) {
        display: none;
      }

      li {
        color: var(--white, #FCFEFE);
        font-family: 'Work Sans', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        .active {
          color: var(--accent, #BFD2F8);
        }
      }
    }

    .logo {
      display: none;

      @media (max-width: 500px) {
        display: block;
      }
    }

    .right {
      @media (max-width: 500px) {
        display: flex;
        align-items: center;
        gap: 30px;
      }

      .search {
        cursor: pointer;
      }

      .burger {
        display: none;

        @media (max-width: 500px) {
          display: block;
        }
      }
    }

  }
}