.container{
  max-width: 992px;
  margin: 64px auto 0;
  .doctors{
    .cards{
      display: flex;
      flex-wrap: wrap;
      margin-top: 64px;
      gap: 20px;
      @media (max-width: 1024px) {
        justify-content: center;
      }
    }
  }
}