.footer {
  background: #007E85;
  width: 100%;
  margin-top: 64px;

  .container {
    max-width: 992px;
    margin: 0 auto;
    padding: 40px 0;
    font-family: 'Work Sans', sans-serif;
    color: var(--white, #FCFEFE);

    @media (max-width: 1024px) {
      width: 90%;
    }


    .footer_bottom {

      .bottom_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
          justify-content: center;
        }

        ul {
          display: flex;
          gap: 16px;

          @media (max-width: 768px) {
            display: none;
          }

          li {
            cursor: pointer;
          }
        }
      }
    }
  }
}