.banner {
  background-image: url('../../../src/images/banner.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: auto;
  max-height: 700px;
  @media (max-width: 500px){
    height: 375px;
  }
  .container {
    max-width: 992px;
    margin: 0 auto;

    @media (max-width: 1024px) {
      width: 90%;
    }

    .banner_title {
      width: 613px;
      padding: 167px 0;
      @media (max-width: 650px) {
        width: 95%;
        text-align: center;
        padding: 118px 0;
      }
      p {
        color: var(--secondary, #159EEC);
        font-family: "Work Sans", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2.88px;
        text-transform: uppercase;
      }

      h1 {
        color: #007E85;
        font-family: 'Yeseva One', cursive;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 8px;
        @media (max-width: 430px) {
          font-size: 24px;
        }
      }

      button {
        color: #007E85;
        font-family: "Work Sans", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 50px;
        background: var(--accent, #BFD2F8);
        padding: 13px 35px;
        margin-top: 32px;
      }
    }

  }

}